<div>
    <h1>Forms</h1>
    <hr />
    <h2 ng-if="user === undefined">Please <a href="#/login">Login</a>/<a href="#/register">Register</a> to view profile</h2>
    <form ng-if="user !== undefined"  ng-controller="FormController">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                        <span aria-hidden="true" class="glyphicon glyphicon-triangle-bottom"></span>
                        Form Name</th>
                    <th class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                        <span aria-hidden="true" class="glyphicon glyphicon-triangle-bottom"></span>Action</th>
                </tr>
                <td><input class="form-control" id="formname" placeholder="name" type="text" ng-model="formname"></td>
                <td>
                    <span aria-hidden="true" class="glyphicon glyphicon-plus image-button" ng-click="addForm()"></span>
                </td>
                <tr ng-repeat="form in form_list track by $index">
                    <td>{{form.form_name}}</td>
                    <td>
                        <span aria-hidden="true" class="glyphicon glyphicon-remove image-button" ng-click="deleteForm($index)"
                        ></span>
                        <span aria-hidden="true" class="glyphicon glyphicon-pencil image-button" ng-click="updateForm()"></span>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
