<!DOCTYPE html>
<footer class="panel-footer footer">
    <div class="container-fluid">
        <h1 class="inverted-color  form-heading">
            <span class="glyphicon glyphicon-cutlery"></span> CuisineBizz</h1>
        <p class="text-left inverted-color">
            <b><span class="glyphicon glyphicon-cutlery"></span> CuisineBizz</b> is a trademark of CuizineBizz Ltd.
            <br /> Copyright
            <span class="glyphicon glyphicon-copyright-mark"></span> 2015 CuizineBizz Ltd.
            <br /> All Rights Reserved
        </p>
    </div>
</footer>
