<div>
    <h1>Forms</h1>
    <hr/>
    <h2 ng-if="user === undefined">Please
        <a href="#/login">Login</a>/
        <a href="#/register">Register</a>
        to view profile</h2>
    <form ng-if="user !== undefined">
        <ul class="nav nav-tabs">
            <li class="active" role="presentation">
                <a href="#/form/{{model.user._id}}">Forms</a>
            </li>
            <li role="presentation">
                <a href="#/fields/{{model.user._id}}">Fields</a>
            </li>
        </ul>

        <br>
        <div class="tab-pane fade in active">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                            <span aria-hidden="true" class="glyphicon glyphicon-triangle-bottom"></span>
                            Form Name</th>
                        <th class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                            <span aria-hidden="true" class="glyphicon glyphicon-triangle-bottom"></span>Action</th>
                    </tr>
                    <td><input class="form-control" id="title" ng-model="model.form.title" placeholder="name" type="text"></td>
                    <td>
                        <button class="btn btn-success" name="button" ng-click="model.addForm(model.form)" type="button">
                            <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-info" name="button" ng-click="model.selectForm($index)" type="button">
                            <span aria-hidden="true" class="glyphicon glyphicon-ok"></span>
                        </button>
                    </td>
                    <tr ng-repeat="form in model.forms" ng-class="{'selected':$index == selectedRow}">
                        <td><a href="#/user/{{user._id}}/form/{{form._id}}/fields">{{form.title}}</a></td>
                        <td>
                            <button class="btn btn-danger" name="button" ng-click="model.deleteForm(form)" type="button">
                                <span aria-hidden="true" class="glyphicon glyphicon-remove image-button"></span>
                            </button>
                            <button class="btn btn-warning" name="button" ng-click="model.updateForm(form)" type="button">
                                <span aria-hidden="true" class="glyphicon glyphicon-pencil image-button"></span>
                            </button>

                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </form>
</div>
