body {
    background: #eee;
    margin: 0;
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.home-cards{
    text-decoration: none;
    color: #222;
}
.home-cards:hover{
    text-decoration: none;
    color: #c0392b;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.transparency {
    opacity: 0.8;
}
.transparency:hover {
    opacity: 1.0;
}
.banner {
    width: 100%;
    height: auto;
    min-height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner-image-home {
    background-image: url(../images/banner_blurred.jpg);
}
.banner-image-restaurant {
    background-image: url(../images/rest_banner.jpg);
}
.space-top-bottom {
    padding-top: 200px;
    padding-bottom: 200px;
}

.space-top-bottom-small {
    padding-top: 55px;
    padding-bottom: 200px;
}

.text-input {
    height: 60px;
    border-radius: 0;
    box-shadow: none;
    margin-top: 5px;
    background: #eee;
}
.text-input:focus {
    background: white;
}
.search-button {
    height: 60px;
    border: none;
    border-radius: 1px;
    background-color: #c0392b;
    margin-top: 5px;
}
.card {
    background: white;
    margin-top: 20px;
    z-index: 1;
}
.card-padding{
    padding-top: 20px;
    padding-bottom: 20px;
}
.card a {
    text-decoration: none;
    color: #333;
}
.card a:hover {
    text-decoration: none;
    color: #c0392b;
}
.first-card {
    margin-top: -20px;
}
.register-card {
    margin-top: 100px;
}
.card-list-item {
    padding: 10px 20px 10px 20px;
}
.card-list-item img {
    max-width: 50px;
    max-height: 50px;
}
.card-list-item a {
    text-decoration: none;
    color: #333;
}
.card-heading {
    padding: 20px 20px 10px 20px;
}
.subtitle {
    font-size: 14px;
    margin-top: -10px;
}
.subtext {
    margin-top: -10px;
}
.bottom-border {
    border-bottom: 1px solid #ddd;
}
.left-bar {
    margin-top: 20px;
}
.footer {
    background: #c0392b;
    min-height: 200px;
    margin-top: -20px;
    padding: 75px 100px 50px 100px;
    z-index: -999;
}
.form-header {
    padding: 10px 10px 10px 10px;
}
.form-container {
    padding: 40px 40px 20px 40px;
}
.form-text-input {
    border-radius: 1px;
    height: 50px;
    background: #eee;
}
.form-text-input:focus {
    color: #eee;
    background-color: #c0392b;
}
.form-button {
    height: 60px;
    border-radius: 1px;
    margin-top: 5px;
}
.navform-text {
    border-radius: 1px;
}
.navform-text:focus {
    color: #eee;
    background-color: #c0392b;
}
.login-button {
    border: none;
    border-radius: 1px;
    background-color: #c0392b;
}

/*elevation classes*/

.elevation1 {
    box-shadow: 0 1px 3px #999;
}
.elevation2 {
    box-shadow: 0 2px 5px #999;
}
.elevation3 {
    box-shadow: 0 5px 7px #999;
}

/*-------------------------*/

.inverted-color {
    color: #eee;
}
.dark-color {
    color: #222;
}
.site-color-background {
    background-color: #c0392b;
}
.site-color {
    color: #c0392b;
}
.search-header {
    padding: 60px 0 20px 0;
}
.search-image {
    width: 100%;
    height: 100%;
}
.search-content {
    padding: 15px;
}
.search-result a{
    text-decoration: none;
}
.search-result:hover {
    background-color: #c0392b;
    color: #eee;
}
.search-result:hover a{
    color: #eee;
}
.big-square-button {
    border: none;
    min-height: 50px;
    border-radius: 0;
    box-shadow: none;
}
.blended-button {
    background-color: #eee;
}
.blended-button:hover {
    background-color: white;
}

.pagination-button {
    padding-top: 20px;
    padding-bottom: 50px;
}
.bottom-edge {
    bottom: 0;
    margin-bottom: -100px;
}
.map-container {
    height: 400px;
}
.restaurant-header {
    height: auto;
    padding-bottom: 20px;
}
.restaurant-logo-image {
    width: 200px;
    height: 200px;
    margin-top: -50px;
    border: 10px solid #c0392b;
}
.big-bold {
    font-size: 64px;
    font-weight: bold;
}
.review {
    padding: 20px;
}
.review-textarea {
    border: none;
    border-radius: 1px;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 20px;
    background-color: #eee;
}
.review-textarea:focus {
    color: #eee;
    background-color: #c0392b;
}
.edit-review-textarea {
    border: none;
    border-radius: 1px;
    outline: none;
    max-width: 100%;
    min-width: 100%;
    background-color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-style: none;
}
.edit-review-textarea:focus {
    color: #eee;
    background-color: #c0392b;
}
.profile-header {
    padding: 100px 0 50px 0;
}
.profile-photo {
    max-width: 200px;
}
.profile-details {
    padding-top: 25px;
}
.user-stats {
    padding-top: 20px;
    text-align: center;
}
.custom-bars {
    border-radius: 0;
    height: 5px;
    box-shadow: none;
}
.function-button{
    margin-left: 5px;
    min-width: 100px;
}
.borderless{
    border: none;
}

.more-button:hover{
    background-color: white;
    color: #c0392b;
    cursor: pointer;
}
.button-div{
    display: inline-block;
    padding: 5px;
    cursor: pointer
}
.vote-button-up{
    background-color: white;
    color: #4caf50;
}
.vote-button-down{
    background-color: white;
    color: #f44336;
}

.vote-button-up:hover{
    color: #1b5e20;
}
.vote-button-down:hover{
    color: #d50000;
}
.box-button{
    border-radius: 1px;
    border: none;
}
.admin-top-right-pane{
    min-width: 150px;
    margin-left: -15px;
}
.review-user{
    display: inline-block;
    padding: 5px 50px 5px 10px;
    margin-right: -40px;
}
.full-height{
    height: 75vh;
}

.icon-image{
    padding-top: 5px;
    padding-bottom: 5px;
}
.hover-links{
    text-decoration: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
}
.hover-links:hover{
    background-color: #c0392b;
    color: #eee;
}
/* Small devices (tablets, 768px and up) */

@media (max-width: 768px) {
    .profile-header {
        text-align: center;
    }
    .top-button{
        padding-bottom: 0px;
    }
    .space-top-bottom {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .form-heading{
        font-size: 22px;
    }

}
