<!DOCTYPE html>

<!--register form-->
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card register-card elevation2 center-block">
                <div class="form-header text-center site-color-background">
                    <h1 class="inverted-color">REGISTER</h1>
                    <hr>
                </div>
                <div class="container-fluid form-container">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label" for="firstName">First Name:</label>
                            <input class="form-control form-text-input" id="firstname" ng-model="model.user.firstName" placeholder="First Name" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="lastName">Last Name:</label>
                            <input class="form-control form-text-input" id="lastname" ng-model="model.user.lastName" placeholder="Last Name" type="text" />
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="control-label" for="username">Username:</label>
                            <input class="form-control form-text-input" id="username" ng-model="model.user.username" placeholder="Username" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Password:</label>
                            <input class="form-control form-text-input" id="password" ng-model="model.user.password" placeholder="Password" type="password" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="confpassword">Confirm Password:</label>
                            <input class="form-control form-text-input" id="confpassword" ng-model="model.user.verify_password" placeholder="Verify Password" type="password" />
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="control-label" for="email">Email:</label>
                            <input class="form-control form-text-input" id="email" ng-model="model.user.email" placeholder="Email" type="email" />
                        </div>
                        <br><hr>
                        <div class="form-group">
                            <button class="form-control btn btn-primary form-button" ng-click="model.register(model.user)" type="Register">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
