<!DOCTYPE html>
<html lang="en" ng-app="UserApp">

<head>
    <title>Testing</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="../services/UserService.js"></script>
</head>

<body>
    <div class="container" ng-controller="UserController">
        <h1>Users</h1>
        {{users1}}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First</th>
                    <th>Last</th>
                </tr>
                <tr>
                    <th>
                        <input ng-model="user.firstName" class="form-control" />
                    </th>
                    <th>
                        <input ng-model="user.lastName" class="form-control" />
                    </th>
                    <th>
                        <button ng-click="add(user)" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>
                    </th>
                    <th>
                        <button ng-click="update(user)" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users1">
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>
                        <button ng-click="delete(user)" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>

                    </td>
                    <td>
                        <button ng-click="select(user)" class="btn btn-success">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--<script>
  (function()
{
  angular
  .module("UserApp",[])
  .controller("UserController",UserController)
  .factory("UserService",UserService);

  function UserController($scope,$http,UserService)
  {
    $scope.hello="hello From user cntroller";

    UserService.all(function(response){
      $scope.users1=response;
    })

    $scope.delete=function(user){
      var index=$scope.users1.indexOf(user);
      UserService.remove(index,function(response)
    {
      $scope.users1=response;
    });
    };

  $scope.add=function(user){
  $http.post("/api/user/",user)
  .success(function(response){
    $scope.users1=response;

});};

$scope.select=function(user){
$scope.selectedUser=user;
var index=$scope.users1.indexOf(user);
$scope.selectedUserIndex = index;

$http.get("/api/user/"+index)
.success(function(response){

  $scope.user=response;


});};

$scope.update=function(user){
  $http.put("/api/user/"+$scope.selectedUserIndex,user)
  .success(function(response)
{
  $scope.users1=response;
});};







    }
    function UserService($http){
       var service={
         add:addUser,
         remove:removeUser,
         all:findAll,
         one:findOne,
         update:updateUser
         };
       return service;

    function addUser(){

    }
    function removeUser(index,callback){
      $http.delete("/api/user/"+index)
      .success(callback);

    }
    function findAll(callback){
      $http.get("/api/user")
      .success(callback);

    }
    function findOne(){

    }
    function updateUser(){

    }
  }}

)();
  </script>-->
</body>

</html>
