<!DOCTYPE html>
<div class="banner">
    <ng-map class="map-container" center="[{{model.lat}}, {{model.longi}}]">
        <marker position="[{{model.lat}}, {{model.longi}}]" title="current" animation="Animation.BOUNCE" centered="true"></marker>
    </ng-map>
</div>
<!--end banner-->
<div class="container-fluid site-color-background restaurant-header elevation3">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img class="img img-responsive img-thumbnail restaurant-logo-image" src="{{model.pic}}" alt="">
            </div>
            <div class="col-lg-3 pull-right">
                <h1 class="inverted-color pull-right big-bold">{{model.rating}}.0</h1>
            </div>
            <div class="col-lg-6">
                <div class="inverted-color">
                    <h1>{{model.current.name}}</h1>
                    <p class="subtext"><i>{{model.addr}}</i></p>
                    <uib-rating ng-model="model.rating" readonly="true" titles="['one','two','three']"></uib-rating>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h3 class="inverted-color"><i>"{{model.desc}}"</i></h3>
    </div>
</div>
<!-- end header-->

<div id="reviews" class="container-fluid">
    <div class="row">
        <div class="col-lg-8">

            <div class="card elevation1">
                <div ng-repeat="rev in model.curr_review" class="container-fluid review1">
                    <h4>{{rev.review_text}}</h4>

                    <p class="pull-right">-{{rev.firstName}}</p>
                    <button class="btn btn-default" type="submit" ng-click="model.upvote(rev)">Upvote</button>
                    {{rev.upvotes}}
                    <button class="btn btn-default" type="submit" ng-click="model.downvote(rev)">Downvote</button>
                    {{rev.downvotes}}
                    <hr>

                </div>
            </div>

        </div>
        <div class="col-lg-4">

            <div class="card elevation1">
                <div class="form-header">
                    <h3 class="container-fluid site-color">Been to {{model.current.name}}? Write a review below!</h3>
                </div>
                <div class="row">
                <div class="col-lg-4 col-lg-offset-1 main">
                    <label for="field-dropdown">Rate the restaurant:</label>
                    <div class="form-group">
                        <select class="form-control" name="field_dropdown" ng-model="model.review.rating">
                            <option ng-value="5" selected="selected">5</option>
                            <option ng-value="4">4</option>
                            <option ng-value="3">3</option>
                            <option ng-value="2">2</option>
                            <option ng-value="1">1</option>
                            <option ng-value="0">0</option>
                        </select>
                    </div>
                </div></div>
                <div class="review">
                    <form class="form-horizontal">
                        <label for="user_raing">Write Review</label>
                        <textarea class="form-control review-textarea" name="name" rows="8" cols="40" ng-model="model.review.review_text"></textarea>
                        <button class="btn btn-primary big-square-button site-color-background form-control" ng-click="model.addReview(model.review)">Submit Review</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-3"></div>
    </div>
</div>
