<div class="container-fluid banner banner-image-restaurant">

</div>
<br>
<!--end banner image-->
<div class="row">
    <div class="col-xs-4 col-lg-4 col-md-4">
    </div>
    <div class="col-xs-4 col-lg-4 col-md-4">
        <div class="card-1">
            <div class="container-fluid">
        <div class="row">
        <h2>{{model.current.name}}</h2>
        <h3>{{model.addr}}</h3></div>
        <h4>RATING:</h4><span><img src="{{model.rate}}"/></span>
        <div class="row">
            <div class="col-xs-6  col-lg-6 col-md-6">
                <img src="{{model.pic}}"/>
            </div>
            <div class="col-xs-6  col-lg-6 col-md-6">
                <p>{{model.desc}}</p>
            </div>
        </div>
    </div></div>
    </div>

    <div class="col-xs-4 col-lg-4 col-md-4">
    </div>

</div>

<!--footer-->
