<!DOCTYPE html>
<div class="banner">
    <ng-map class="map-container" center="[{{model.lat}}, {{model.longi}}]">
        <marker position="[{{model.lat}}, {{model.longi}}]" title="current" animation="Animation.BOUNCE" centered="true"></marker>
    </ng-map>
</div>
<!--end banner-->
<div class="container-fluid site-color-background restaurant-header elevation3">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img class="img img-responsive img-thumbnail restaurant-logo-image" src="{{model.pic}}" alt="">
            </div>
            <div class="col-lg-3 pull-right">
                <h1 class="inverted-color pull-right big-bold">{{model.rating}}.0</h1>
            </div>
            <div class="col-lg-6">
                <div class="inverted-color">
                    <h1>{{model.current.name}}</h1>
                    <p class="subtext"><i>{{model.addr}}</i></p>
                    <p class="subtext"><i>Tags: Sandwiches, Breakfast</i></p>
                    <uib-rating ng-model="model.rating" readonly="true"></uib-rating>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h3 class="inverted-color"><i>"{{model.desc}}"</i></h3>
    </div>
</div>
<!-- end header-->

<div id="reviews" class="container-fluid">
    <div class="row">
        <div class="col-lg-8">

            <div class="card elevation1 card-padding">
                <div ng-repeat="rev in model.curr_review" class="container-fluid">
                    <div class="container-fluid">
                        <uib-rating ng-model="rev.rating" readonly="true"></uib-rating>
                        <h4>{{rev.review_text}}</h4>
                        <div class="site-color-background inverted-color review-user pull-right elevation2">
                            <h4>{{rev.firstName}} {{rev.lastName}}</h4>
                            <p>{{rev.points_collected}}</p>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="button-div vote-button-up" type="submit" ng-click="model.upvote(rev)">
                            <span class="glyphicon glyphicon-thumbs-up"></span> {{rev.upvotes}}</div>
                        <div class="button-div vote-button-down" type="submit" ng-click="model.downvote(rev)">
                            <span class="glyphicon glyphicon-thumbs-down"></span> {{rev.downvotes}}
                        </div>
                    </div>
                    <hr>
                </div>
                <div>
                    
                    <div class="text-center more-button" ng-if="model.revZero()">No reviews posted...Be the first one to post a review!!</div>
                </div>
            </div>

        </div>
        <div class="col-lg-4">

            <div class="card elevation1">
                <div class="form-header">
                    <h3 class="container-fluid site-color">Been to {{model.current.name}}? Write a review below!</h3>
                </div>
                <div class="container-fluid review">
                    <label for="user_rating">Rating: </label>
                    <uib-rating class="site-color" ng-model="model.review.rating" readonly="false"></uib-rating>
                    <form class="form-horizontal">
                        <textarea placeholder="Write a review!" class="form-control review-textarea" name="name" rows="8" cols="40" ng-model="model.review.review_text"></textarea>
                        <button class="btn btn-primary big-square-button site-color-background form-control" ng-click="model.addReview(model.review)">Submit Review</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-3"></div>
    </div>
</div>
