<!DOCTYPE html>
<nav class="navbar navbar-default navbar-fixed-top transparency" ng-controller="HeaderController">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">
                <span class="glyphicon glyphicon-cutlery"></span>&nbsp;CuisineBizz</a>
        </div>
        <div class="navbar-collapse collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right" ng-if="user!==undefined">
                <li ng-class="{'active': $location.url().indexOf('google')!=-1}">
                    <a href="https://docs.google.com/document/d/1gFblO--pQeIMNDrqVbUAkNJjwss03BDgfdd_4VStmV4/edit?usp=sharing">Documentation</a>
                </li>
                <li ng-class="{'active': $location.url().indexOf('home')!=-1}">
                    <a href="#/home/{{user._id}}">Home</a>
                </li>

                <li ng-class="{'active': $location.url().indexOf('profile')!=-1}">
                    <a href="#/profile/{{user._id}}">{{user.username}}</a>
                </li>
                <li ng-class="{'active': $location.url().indexOf('admin')!=-1}" ng-if="isAdmin()">
                    <a href="#/admin/{{user._id}}">Dashboard</a>
                </li>
                <li ng-class="{'active': $location.url().indexOf('logout')!=-1}">
                    <a href="#/home" ng-click="logout()">Logout</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="user===undefined">
                <li ng-class="{'active': $location.url().indexOf('google')!=-1}">
                    <a href="https://docs.google.com/document/d/1gFblO--pQeIMNDrqVbUAkNJjwss03BDgfdd_4VStmV4/edit?usp=sharing">Documentation</a>
                </li>
                <li ng-class="{'active': $location.url().indexOf('home')!=-1}">
                    <a href="#/home">Home</a>
                </li>
                <li ng-class="{'active': $location.url().indexOf('register')!=-1}">
                    <a href="#/register">Register</a>
                </li>
                <li ng-class="{'active': $location.url().indexOf('login')!=-1}">
                    <a href="#/login">Login</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
