<!DOCTYPE html>
<div>
    <h1>Profile</h1>
    <hr />
    <h2 ng-if="user === undefined">Please <a href="#/login">Login</a>/<a href="#/register">Register</a> to view profile</h2>
    <form class="form-horizontal" ng-if="model.user!==undefined" ng-controller="ProfileController">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="username1">Username:</label>
            <div class="col-sm-8">
                <input class="form-control" id="inputEmail3" ng-model="model.user.username" placeholder="Username" type="username">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="inputPassword3">Password:</label>
            <div class="col-sm-8">
                <input class="form-control" id="inputPassword3" ng-model="model.user.password" placeholder="Password" type="password">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="firstname">First Name:</label>
            <div class="col-sm-8">
                <input class="form-control" id="inputfirstname3" ng-model="model.user.firstName" placeholder="First Name" type="first-name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="lastname">Last Name:</label>
            <div class="col-sm-8">
                <input class="form-control" id="inputlastname3" ng-model="model.user.lastName" placeholder="Last Name" type="lastname-name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="email">Email:</label>
            <div class="col-sm-8">
                <input class="form-control" id="email3" ng-model="model.user.email" placeholder="Email" type="email">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button class="btn btn-primary btn-lg btn-block" ng-click="model.update(model.user)" type="Update">Update</button>
            </div>
        </div>


    </form>
</div>
